@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

html,
body {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

.active {
  background: rgb(176, 180, 190);
  color: rgb(65, 79, 107);
  text-decoration: underline;
}

.panel {
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.map > button {
  all: unset;
  background: rgb(176, 180, 190);
  cursor: pointer;
  margin: 0 0.125rem;
  position: relative;
  user-select: none;
  border-radius: 100%;
  height: 0.5rem;
  width: 0.5rem;
}
.map > button.active:after {
  background: white;
  content: '';
  /* left: 50%; */
  position: absolute;
  transform: translate(-50%, -50%);
  /* top: 50%; */
  border-radius: 100%;
  height: 0.25rem;
  width: 0.25rem;
}
